{% extends 'dashboards/patient_base.html' %}

{% block patient_content %}
<h3 class="brand-font mb-3"><i class="bi bi-person-fill"></i> My Profile Management</h3>
<div class="row bg-light p-4 rounded-4 small">
    <div class="col-md-6 mb-3">
        <p class="mb-1 text-muted">Full Name:</p>
        <h5 class="fw-bold">{{ user.username }}</h5>
    </div>
    <div class="col-md-6 mb-3">
        <p class="mb-1 text-muted">Gmail Address:</p>
        <h5 class="fw-bold">{{ profile.gmail }}</h5>
    </div>
    <div class="col-md-6">
        <p class="mb-1 text-muted">Role:</p>
        <span class="badge bg-danger-subtle text-danger">Patient Profile</span>
    </div>
</div>
{% endblock %}
